body {
  background: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px;
}
.main-wrapper {
  border: 4px solid black;
  border-radius: 5px;
  max-width: 70%;
}
.table,
.input-group {
  max-width: 100%;
  min-width: 60%;
}

.btn:hover {
  background-color: black;
  color: white;
}
